/* @font-face {
	font-family: 'Vulf Mono Light';
	src: url('/fonts/Vulf_Mono-Light_web.woff2') format('woff2'),
		url('/fonts/Vulf_Mono-Light_web-Web.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: block;
} */

/* TODO: Resolve FOUT a better way instead of font-display: block;
There are currently fallback fonts in-place but they have a dramatically smaller x-height than Vulf Mono */
@font-face {
	font-family: 'Vulf Mono';
	src: url('/fonts/Vulf_Mono-Regular_web.woff2') format('woff2'),
		url('/fonts/Vulf_Mono-Regular_web-Web.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Vulf Mono';
	src: url('/fonts/Vulf_Mono-Italic_web.woff2') format('woff2'),
		url('/fonts/Vulf_Mono-Italic_web.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: block;
}

@font-face {
	font-family: 'Vulf Mono';
	src: url('/fonts/Vulf_Mono-Bold_web.woff2') format('woff2'),
		url('/fonts/Vulf_Mono-Bold_web.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Vulf Sans';
	src: url('/fonts/Vulf_Sans-Regular.woff2') format('woff2'),
		url('/fonts/Vulf_Sans-Regular.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
	2. Remove default margin
  */
* {
	margin: 0;
}

html:has(dialog[open]) {
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	color: white;
	background: #000916;
	transition: background-color 6s ease-in;
	font-family: 'Volf Mono', monospace;
	color-scheme: dark; /* https://web.dev/color-scheme/ */
	line-height: 1.5;
	/* A bit controversial  */
	/* More info: https://www.joshwcomeau.com/css/custom-css-reset/#digit-font-smoothing */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/*
	5. Improve media defaults
  */
img,
picture,
video,
canvas {
	display: block;
	max-width: 100%;
}

svg {
	display: block;
	max-width: 100%;
}

/*
	6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
	font: inherit;
}
/*
	7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a:link,
a:visited,
a:hover,
a:active {
	color: inherit;
}

.sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	-webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.illustration {
	height: 38vh;
}

@media (min-width: 64rem) {
	.illustration {
		height: 45vh;
	}
}

.form__label {
	font-family: 'Vulf Sans', Avenir, 'Avenir Next LT Pro', Montserrat, Corbel, 'URW Gothic',
		source-sans-pro, sans-serif;
	font-weight: 100;
	font-size: 0.75rem;
	color: #e4edff;
}

.form__label--light {
	color: #000e24;
}

.form__input {
	border-width: 0 0 2px 0;
	margin-top: 0.25rem;
	font-size: 1.25rem;
	font-family: 'Vulf Mono';
	font-weight: 500;
	color: #e4edff;
	background: none;
	padding: 0.125rem 0.5rem 0.125rem 0;
}

.form__input--sm {
	font-size: 1rem;
}

.form__input--light {
	color: #000e24;
	color-scheme: light;
	mix-blend-mode: multiply;
}

.form__input:focus {
	background-color: none;
	outline: none;
	border-width: 0 0 2px 0;
	border-color: #86c2f6;
}

.form__input--invalid {
	outline: none;
	border-width: 0 0 2px 0;
	border-color: #d51b0c;
}

.form__input-group {
	display: flex;
	flex-direction: column;
	grid-row: 2;
}

.form__errorMessage {
	color: #d51b0c;
	margin: 0.5rem 0 0 0;
	opacity: 0;
	transition: opacity 0.5s ease-in;
	font-size: 1rem;
	height: 1rem;
}

.form__errorMessage--visible {
	opacity: 1;
}

.form__successMessage {
	text-align: center;
	color: #000e24;
}

.form__button {
	border: 1px solid #000e24;
	background: #000e24;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.75rem;
	cursor: pointer;
	width: 10rem;
	height: 3rem;
	color: #d0d0d0;
	font-family: 'Vulf Mono', 'Nimbus Mono PS', 'Courier New', 'Cutive Mono', monospace;
	text-transform: uppercase;
}

.form__button:hover {
	border: 1px solid #000e24;
	background: none;
	color: #000e24;
}

.form__button--inverse {
	border: 1px solid #000e24;
	background: none;
	color: #000e24;
}

.form__button--inverse:hover {
	border: 2px solid #000e24;
	color: #d0d0d0;
	background: #000e24;
}

.form__dot {
	height: 0.5rem;
	width: 0.5rem;
	background-color: #fff;
	border-radius: 50%;

	animation: dotFade 2s linear infinite;
}

.form__dot:not(:last-child) {
	margin-right: 0.5rem;
}

.form__dot:nth-of-type(2) {
	animation-delay: 0.25s;
}

.form__dot:nth-of-type(3) {
	animation-delay: 0.5s;
}

@keyframes dotFade {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.u-marginAuto {
	margin-left: auto;
	margin-right: auto;
}

.u-marginTop-sm {
	margin-top: 3.125rem;
}

.u-marginTop-xs {
	margin-top: 2rem;
}

.u-flex {
	display: flex;
}

.u-justifyContent-center {
	justify-content: center;
}
